{
  log_level": "debug", // for production set empty
  "server": {
    "address": ":2004"
  },
  "gofiber": {
    "prefork": false
  },
  "context":{
    "timeout": 5
  },
  "database": "mongo", // mongodb || mysql
  "mysql": {
    "host": "mysql",
    "port": "3306",
    "user": "root",
    "pass": "pass",
    "name": "ambarita",
    "used": false
  },
  "mongo": {
    "uri": "mongodb://localhost:27017",
    "dbname": "ambarita"
  } 
}
