{
    "debug": true,
    "server": {
      "address": ":2004"
    },
    "gofiber": {
      "prefork": false
    },
    "context":{
      "timeout": 5
    },
    "database": {
        "host": "mysql",
        "port": "3306",
        "user": "root",
        "pass": "pass",
        "name": "ambarita"
    }  
}
